.nav-pills>li>a {
	border-radius: 0px;
	color: #fff;
	font-family: lucida sans unicode, lucida grande, sans-serif;
	font-weight: 800;
	font-size: 14px;
}

.nav-pills>li>a:hover {
	border-radius: 0px;
	color: #fff;
	background-image: url(../images/mainMenuBackgroundBoton.jpg);
}

.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus
	{
	background-image: url(../images/mainMenuBackgroundBoton.jpg);
	color: #fff;
	font-weight: bold;
	font-style: italic;
}

.principal-description {
	text-shadow: 0px 0px 13px rgba(23, 23, 166, 1);
	font-weight: bold;
	color: #FFFFFF;
}

#map_canvas {
	width: 500px;
	height: 300px;
}

#footer {
	height: 60px;
	background-color: #454545;
}

.body-style {
	padding-bottom: 0px;
}

.button-dropdown-black {
	color: #AAAAAA;
	background-color: #202020;
	border-color: #5C5C5C;
}

.button-dropdown-black:hover,.button-dropdown-black:active,.button-dropdown-black:focus
	{
	color: #AAAAAA;
	background-color: #383838;
	border-color: #5C5C5C;
}

.logo-image-style {
	padding-bottom: 0px;
}

.homepage-title-contaier {
	position: absolute;
	top: 300;
	text-align: center;
}

.homepage-title {
	line-height: 60px;
	padding: 0 15px;
	letter-spacing: -2px;
	background: rgba(52, 48, 45, 0.6);
	color: #f1f1f1;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
}

div.carousel-caption.left {
	text-align: left;
	padding-bottom: 70px;
}

div.carousel-caption.center {
	text-align: center;
	padding-bottom: 70px;
}

div.carousel-caption.right {
	text-align: right;
	padding-bottom: 70px;
}

div.carousel-image,img.carousel-image {
	height: 550px;
}
/****************** NAVBAR **********************/
.minerqauim-navbar-wrapper {
	/* 	padding-top: 10px; */
	margin-top: 10px;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}

#navbar-wrapper {
	margin-top: 10px;
}

#navbar-wrapper.affix {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	margin-top: 0px;
	background-color: aqua;
}

#navbar-wrapper.affix>#nav {
	background-color: aqua;
	height: 50px;
}

.navbar-items {
	padding-top: 30px;
}

.navbar-greypower {
	height: 100px;
	background-color: transparent;
	border-width: 0px;
	border-color: transparent;
}

.navbar-default .navbar-nav.nav-minerquim-style>.active>a {
	background-image: url(../images/mainMenuBackgroundBoton.jpg);
	color: #fff;
	font-family: lucida sans unicode, lucida grande, sans-serif;
	font-weight: 800;
	font-size: 15px;
}

.navbar-default .navbar-nav.nav-minerquim-style>li>a:hover {
	background-image: url(../images/mainMenuBackgroundBoton.jpg);
	color: #fff;
	font-family: lucida sans unicode, lucida grande, sans-serif;
	font-weight: 800;
	font-size: 15px;
}

.navbar-default .navbar-nav.nav-minerquim-style>li>a {
	color: #E2E2E2;
	font-family: lucida sans unicode, lucida grande, sans-serif;
	font-weight: 800;
	font-size: 15px;
}

.nav.navbar-nav.nav-minerquim-style {
	/* 	padding-top: 20px; */
	
}

.navbar-default .navbar-nav.language-buttom-style>li>a {
	color: #BEBEBE;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding: 10px 10px 10px 10px;
}

.navbar-default .navbar-nav.language-buttom-style>li>a:hover,.navbar-default .navbar-nav.language-buttom-style>li.dropdown.open>a:hover
	{
	color: #BEBEBE;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding: 10px 10px 10px 10px;
	background-color: #000000;
}

.navbar-default .navbar-nav.language-buttom-style>li.dropdown.open>a {
	color: #BEBEBE;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding: 10px 10px 10px 10px;
	background-color: #1F1F1F;
}

.dropdown-menu {
	background-color: #1F1F1F;
	border-radius: 0px;
	min-width: 120px;
	padding: 0px;
}

.dropdown-menu>li>a {
	color: #BEBEBE;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.dropdown-menu>li>a:hover {
	color: #BEBEBE;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	background-color: #000000;
}

.dropdown-menu>li>a:hover {
	color: #BEBEBE;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	background-color: #000000;
}

.language-flag-style {
	top: 2px;
}

/* .header-navbar-style{ */
/* 	padding-left: 20%; */
/* } */

/* .header-menu-style{ */
/* 	padding-right: 5%; */
/* } */

/********* NAVBAR FINAL *********/
.minerquim-navbar-style {
	background-image: url(../images/headerBackGround_.jpg);
	background-repeat: repeat-x;
	border-color: #428bca;
}

.minerquim-navbar-style.navbar-pad-original>div.container-fluid>div.navbar-collapse>ul.nav-minerquim-style
	{
	padding-left: 10%;
	padding-top: 0px;
}

.minerquim-navbar-style>div.container-fluid>div.navbar-collapse>ul.nav-minerquim-style
	{
	padding-left: 10%;
	padding-top: 30px;
}

.tiny-logo-image-style {
	display: none;
}

.navbar-pad-original>.container-fluid>.navbar-header>a>img.tiny-logo-image-style
	{
	display: inline-block;
}

.navbar-pad-original>.container-fluid>.navbar-header>a>img.logo-image-style
	{
	display: none;
}
/****************** circle button go to TOP **********************/
#top-link {
	display: none;
	position: fixed;
	right: 30px;
	bottom: 25px;
	font-weight: bold;
	text-decoration: none;
	padding: 10px;
	opacity: 0.8
}

.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	border-radius: 25px;
}

/****************** GENERAL **********************/
body {
	padding-bottom: 0px;
}

#footer-section {
	background-image: url(../images/headerBackGround_.jpg);
	background-repeat: repeat;
	color: #E2E2E2;
	font-family: lucida sans unicode, lucida grande, sans-serif;
	font-size: 14px;
}

.about-section {
	padding-bottom: 50px;
}

.image-thumbnail {
	margin-bottom: 0px;
}

.h3-thumbnail {
	margin-top: 10px;
	text-align: center;
	height: 52px
}

.p-thumbnail {
	text-align: center;
}

.bs-docs-sidebar .nav>.active>a,.bs-docs-sidebar .nav>.active:hover>a,.bs-docs-sidebar .nav>.active:focus>a
	{
	color: rgb(255, 255, 255);
	border-left: 2px solid rgb(255, 255, 255);
}

.bs-docs-sidebar .nav>li>a:hover,.bs-docs-sidebar .nav>.active:hover>a,.bs-docs-sidebar .nav>.active:focus>a
	{
	color: rgb(255, 255, 255);
	border-left: 2px solid rgb(255, 255, 255);
}

.rigthNavbar {
	background-color: rgba(0, 0, 0, 0.53);
	padding-left: 5px;
	margin-top: 45px;
}

.bs-docs-sidebar .nav>li>a {
	color: #E1E1E1;
}

